.menu-bar{
    position:absolute;
    right: 0;
    top:15%;

}
.location{
    background-color: #56638b;
    transition:0.5s
}
ul{
    list-style-type: none;
}
.fa-location-dot,  .fa-clocks , .fa-books, .fa-calendar-days, .fa-receipt, .fa-phone-volume{
    font-size: 30px;

}
.working-time{
    background-color: #5c6895;
}
.req-form{
    background-color: #616e9d;
}
.doc-timetable{
    background-color: #7681aa;
}
.quick-pricing{
    background-color: #828bb2;
}.emergency-case{
    background-color: #939bbc;
}
span{
  font-size: 12px;
}
li{
    width: 100px;
}
.pointer{
    cursor: pointer;
}
.req-form:hover{
    background-color: white;
}
.req-form:hover .fa-books{
    color:#5c6895 !important
}
.req-form:hover .s-form{
    color:#5c6895 !important
}
.location:hover{
    background-color: white;
}
.location:hover .fa-location-dot{
    color:#5c6895 !important
}
.location:hover .s-location{
    color:#5c6895 !important
}
.working-time:hover{
    background-color: white;
}
.working-time:hover .fa-clocks{
    color:#5c6895 !important
}
.working-time:hover .s-time{
    color:#5c6895 !important
}
.doc-timetable:hover{
    background-color: white;
}
.doc-timetable:hover .fa-calendar-days{
    color:#5c6895 !important
}
.doc-timetable:hover .s-table{
    color:#5c6895 !important
}
.quick-pricing:hover{
    background-color: white;
}
.quick-pricing:hover .fa-receipt{
    color:#5c6895 !important
}
.quick-pricing:hover .s-price{
    color:#5c6895 !important
}
.emergency-case:hover{
    background-color: white;
}
.emergency-case:hover .fa-phone-volume{
    color:#5c6895 !important
}
.emergency-case:hover .s-emergency{
    color:#5c6895 !important
}
.map{
    top: 7%;
    right: 76%;
    display: none;

}


.location:hover .map{
    display: block;
    transform: translateY(-44px);
}
.working-time-hover{
    width: 400px;
    height: 250px;
    top: 15%;
    right: 76%;
    display: none;
    z-index: 100;
}
.working-time:hover .working-time-hover{
    display: block;
}
.form-hover{
    width: 400px;
    height: 423px;
    top: 30%;
    right: 76%;
    display: none;
    z-index: 100;
}
.fa-user{
    top:30%;
    left: 3%;
}
.fa-envelope{
    top:37%;
    left: 15%;
}
.fa-mobile-screen-button{
    top: 37%;
    left: 53%;
}
.fa-cake-candles{
    top:49%;
    left: 15%;
}
.fa-tooth{
    top: 62%;
    left:15%
}
.fa-calendar-week{
    top: 75%;
    left:15%
}
.request{
    background-color: #5c6895;
}
.req-form:hover .form-hover{
display: block;
}
.timetable-hover{
    width: 400px;
    height: 270px;
    top: 46%;
    right: 76%;
    display: none;
    z-index: 100;
}
.doc-timetable:hover .timetable-hover{
    display: block;
}
.prices-hover{
    width: 400px;
    height: 350px;
    top: 23.5%;
    right: 76%;
    display: none;
    z-index: 100;
}
.quick-pricing:hover .prices-hover{
    display: block;
}
.emergency-hover{
    width: 400px;
    height: 350px;
    top: 41.5%;
    right: 76%;
    display: none;
    z-index: 100;
}
.emergency-case:hover .emergency-hover{
    display: block;
}
a{
    color: #56638b;
}