.menu-bar{
    position:absolute;
    right: 0;
    top:15%;

}
.location{
    background-color: #56638b;
}
ul{
    list-style-type: none;
}
.fa-location-dot,  .fa-clock , .fa-book, .fa-calendar-days, .fa-receipt, .fa-phone-volume{
    font-size: 30px !important;

}
.working-time{
    background-color: #5c6895;
}
.req-form{
    background-color: #616e9d;
}
.doc-timetable{
    background-color: #7681aa;
}
.quick-pricing{
    background-color: #828bb2;
}.emergency-case{
    background-color: #939bbc;
}
span{
  font-size: 12px;
}
li{
    width: 100px;
}
.pointer{
    cursor: pointer;
}
.req-form:hover{
    background-color: white;
}
.req-form:hover .fa-book{
    color:#5c6895 !important
}
.req-form:hover .s-form{
    color:#5c6895 !important
}
.location:hover{
    background-color: white;
}
.location:hover .fa-location-dot{
    color:#5c6895 !important
}
.location:hover .s-location{
    color:#5c6895 !important
}
.working-time:hover{
    background-color: white;
}
.working-time:hover .fa-clock{
    color:#5c6895 !important
}
.working-time:hover .s-time{
    color:#5c6895 !important
}
.doc-timetable:hover{
    background-color: white;
}
.doc-timetable:hover .fa-calendar-days{
    color:#5c6895 !important
}
.doc-timetable:hover .s-table{
    color:#5c6895 !important
}
.quick-pricing:hover{
    background-color: white;
}
.quick-pricing:hover .fa-receipt{
    color:#5c6895 !important
}
.quick-pricing:hover .s-price{
    color:#5c6895 !important
}
.emergency-case:hover{
    background-color: white;
}
.emergency-case:hover .fa-phone-volume{
    color:#5c6895 !important
}
.emergency-case:hover .s-emergency{
    color:#5c6895 !important
}